link(rel='stylesheet', href='/styles/header.css')

div.main
  a(href='/') Просмотр журналов конференций
  - if (state == "publishedQuarter") {
      form#action.actions(method="POST", action="/prePrintReport")
      input(form="action" type="hidden" name="quarter" value=date.quarter)
      input(form="action" type="hidden" name="year" value=date.year)
      input(form="action" type="submit" value="Скорректировать и распечатать отчёт")
  - } 
