extends layout
block css
  link(rel='stylesheet', href='/styles/index.css')

block content
  - if (rooms.length) {
    hgroup
      h1 Добро пожаловать!
      h2 Выберите конференцию для просмотра журнала сообщений
    section
      form#rooms(method="POST", action="/getLog")

      mixin selectTime(dateObj)
        span.selector= dateObj.desc
        select(form="rooms", name=dateObj.param)
            - each day in dateObj.dateArray
              option= day

      p
        b Начальная дата поиска:
      span.selector
       +selectTime({desc: "День",   param: "sday",   dateArray: sdays})
       +selectTime({desc: "Месяц",  param: "smonth", dateArray: smonths})
       +selectTime({desc: "Год",    param: "syear",  dateArray: syears})
       +selectTime({desc: "Час",    param: "shour",  dateArray: shours})
       +selectTime({desc: "Минуты", param: "smin",   dateArray: smins})

      p
         b Конечная дата поиска:
      span.selector
       +selectTime({desc: "День",   param: "eday",   dateArray: edays})
       +selectTime({desc: "Месяц",  param: "emonth", dateArray: emonths})
       +selectTime({desc: "Год",    param: "eyear",  dateArray: eyears})
       +selectTime({desc: "Час",    param: "ehour",  dateArray: ehours})
       +selectTime({desc: "Минуты", param: "emin",   dateArray: emins})

      p
         b Конференция
      span.selector
        - rooms.forEach(function(room) {
            input(form="rooms" type="submit" name="room" value=room.name)
        - })

    section
      form#nick(method="GET", action="/searchByNick")
      p
         b Поиск по нику
      input(form="nick" type="search" name="nick" placeholder="Введите ник пользователя")
      div
          input(form="nick" type="submit")

    section
      form#jid(method="GET", action="/searchByJid")
      p
         b Поиск по Jabber ID (доменному имени)
      input(form="jid" type="search" name="jid" placeholder="Введите JabberID пользователя")
      div
          input(form="jid" type="submit")

  -}
