doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/styles/header.css')
    block css
  body
    header
      include header
      block scripts
    block content
    footer
      include footer
