a:hover
{
	color: #1fae02;
}

nav
{
	padding: 1em 0 1em 2em;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: white;
	border-bottom: 2px solid silver;
	opacity: 0.85;
	font-size: 1.25em;
}

form.actions
{
	margin: 0 0 0 4em;
	display: inline;
}

footer
{
	margin: 1em;
	position: relative;
	text-align: right;
	font-size: 0.85em;
}

#avgTimeIdleDiv
{
	font-weight: bold;
	font-size: 1.2em;
	display: inline;
	position: absolute;
	padding: 0.25em;
	margin: 0 1em 0 0;
	right: 2em;
}
