body {
    color: black;
    font-family: arial,verdana,serif;
    font-weight: normal;
    font-size: 1em;
	padding: 2.25em;
}

.selector
{
	padding: 0 0 0 1em;
}

#nick,#jid
{
	padding: 3em 0 0 0;
}
