body {
    color: black;
    font-family: arial,verdana,serif;
    font-weight: normal;
    font-size: 1em;
}

h1
{
	padding: 2em 0 0 0;
}

table
{
	border: 1px solid;
	border-collapse: collapse;
}

th,td
{
	border: 1px solid;
	padding: 0.25em;
}

tr.odd
{
	background:	#CCE8CC;
}

tr.even
{
	background:	#E7E7E7;
}
